body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

@media (max-width: 1201px) {
    .navbar-nav {display: none;}
}


@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

.intro-section {
    height: auto;
    padding-top: 100px;
    padding-bottom: 150px;
    text-align: center;
    background-image: url("../images/header.jpg");
    background-size: cover;
    background-clip: padding-box;
}

.porque-section {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background: #68abe3;
}
.tipos-section {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background: #68e36b;
}

.descartar-section {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background: #ffcc50;
}

.erres-section {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background: purple;
}

.cores-section {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background: black;
}

.duvidas-section {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background: white;
}
