body {
    width: 100%;
    height: 100%;
    font-family: 'Slabo 27px', serif;
}

html {
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

.intro-section {
    height: auto;
    padding-top: 50px;
    padding-bottom: 70px;
    text-align: center;
}

.porque-section {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background: #3162d2;
}

.tipos-section {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background: #5e88e7;
}

.destino-section {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background: #92aae1;
}

.erres-section {
      height: auto;
      padding-top: 50px;
      padding-bottom: 50px;
      text-align: center;
      background: #bbccf4;
}

.duvidas-section {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background: white;
}
