.logo{
    width: 50px;
    height: 48px;
    margin: auto;
    overflow: hidden;
    & img {
        width: 100%;
    }
}

.recuo-ul-esquerda {
    margin-left: 50px;
}

.fonte-customizada {
    font-family: 'Raleway', sans-serif;
}
