hr {
    background: #ccc none repeat scroll 0 0;
    height: 2px;
    left: 25%;
    top: 0;
}

.container-menu {
    margin-left: 10px;
}

.logo{
    width: 50px;
    height: 48px;
    margin: auto;
    overflow: hidden;
    & img {
        width: 100%;
    }
}

.fonte-titulo {
    font-family: 'Raleway', sans-serif;
}

.fonte-conteudo {
    font-family: 'Slabo 27px', serif;
}

.fonte-header {
    font-family: 'Anton', sans-serif;
    font-size: 5em;
    color: white;
    padding-top: 8%;
    text-shadow: #000 2px 2px 2px;
}

.fonte-menu {
    font-size: 1.2em;
}

.fonte-branca {
    color: white;
}

.conteudo {
    margin-top: 25px;
    font-size: 1.2em;
}

.conteudo-img-lateral {
    padding-top: 40%;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.conteudo-img-lateral {
    padding-top: 40%;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.img-direita {
        padding-top: 20%;
        float: right;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 300px;
}

.img-esquerda {
        float: left;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 300px;
}


.recuo-ul-esquerda {
    margin-left: 30px;

}

.conteudo-img {
    float: right;
}

.conteudo-img-cores {
    margin-top: 30px;
    width: 70%;
    justify-content: center;
    align-items: center;
}

.conteudo-lista {
    font-size: 1.2em;
}

.cor-fundo-header {
    background-color: white !important;
}
