hr {
    background: #ccc none repeat scroll 0 0;
    height: 2px;
    left: 25%;
    top: 0;
}

.logo{
    width: 50px;
    height: 48px;
    margin: auto;
    overflow: hidden;
    & img {
        width: 100%;
    }
}

.recuo-ul-esquerda {
    margin-left: 50px;
}

.fonte-titulo {
    font-family: 'Raleway', sans-serif;
}

.fonte-conteudo {
    font-family: 'Slabo 27px', serif;
}

.fonte-header {
    font-family: 'Anton', sans-serif;
    font-size: 5em;
    color: white;
    padding-top: 2%;
    text-shadow: #000 2px 2px 2px;
}
.fonte-menu {
    font-size: 1.2em;
}

.fonte-branca {
    color: white;
}
.conteudo {
    margin-top: 25px;
    text-align: justify;
    padding-left: 10%;
    font-size: 1.2em;
}

.conteudo-img-lateral {
    margin-top: 30%;
}

.conteudo-img {
    margin-top: 30px;
}

.cor-fundo-header {
    background-color: white !important;
}
